In [2]:
#TASK 1
import pandas as pd

In [2]:
#Creating dataframe
Project_Dataframe={
    "ID":['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001','A004','A004','A005'],
    "Project":['Project 1','Project 2','Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8','Project 9', 'Project 10',
               'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    "Cost":['1002000','2000000','4500000','5500000',' ','680000','400000','350000',' ','300000','2000000','1000000','3000000',
            '200000'],
    "Status":['Finished','Ongoing','Finished','Ongoing','Finished','Failed','Finished','Failed','Ongoing','Finished','Failed',
              'Ongoing','Finished','Finished']
}

In [3]:
#Checking
print(Project_Dataframe)

{'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'], 'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'], 'Cost': ['1002000', '2000000', '4500000', '5500000', ' ', '680000', '400000', '350000', ' ', '300000', '2000000', '1000000', '3000000', '200000'], 'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']}

In [4]:
#Converting into pandas dataframe
df=pd.DataFrame(Project_Dataframe)

In [5]:
#Checking
print(df)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished

In [6]:
#Saving to csv
f=open("Project_Dataframe.csv","w")
df.to_csv('Project_Dataframe.csv',index=False)

In [7]:
#Checking
print(df)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished

In [4]:
#Creating Employee data frame
Employee_Dataframe={"ID":['A001','A002','A003','A004','A005'],
                   "Name":['John Alter','Alice Luxumberg','Tom Sabestine','Nina Adgra','Amy Johny'],
                   "Gender":['M','F','M','F','F'],
                   "City":['Paris','London','Berlin','Newyork','Madrid'],
                   "Age":[25,27,29,31,30]}

#Converting into pandas data frame
df1=pd.DataFrame(Employee_Dataframe)

#Checking
print(df1)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [11]:
#Saving to csv format
df1.to_csv('Employee_Dataframe.csv',index=False)

In [12]:
#Checking
print(pd.read_csv('Employee_Dataframe.csv'))

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [13]:
#Creating Seniority_level_Dataframe

Seniority_level_Dataframe={"ID":['A001','A002','A003','A004','A005'],
                          "Designation Level":[2,2,3,2,3]}
df2=pd.DataFrame(Seniority_level_Dataframe)
df2.to_csv('Seniority_level_Dataframe.csv',index=False)
print(df2)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [14]:
#Checking All
print(df)
print(df1)
print(df2)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14   200000  Finished
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [15]:
#TASK 2


import csv
file = 'Project_Dataframe.csv'
column_to_edit='Cost'

#read the data from csv
with open(file,'r') as f:
    reader = csv.DictReader(f)
    rows=list(reader)
    
#computing average of non empty cells
total=0
count=0

for row in rows:
    value =row[column_to_edit]
    if value.strip() != '':
        total +=float(value)
        count +=1

average=round(total/count,2) if count>0 else 0

#Replace empty values in the target column with the average
for row in rows:
    if row[column_to_edit].strip() == '':
        row[column_to_edit] = str(average)
        
#Write updated data back to the CSV
with open('updated_' + file, 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=rows[0].keys())
    writer.writeheader()
    writer.writerows(rows)

In [16]:
print(pd.read_csv('updated_Project_Dataframe.csv'))

      ID     Project        Cost    Status
0   A001   Project 1  1002000.00  Finished
1   A002   Project 2  2000000.00   Ongoing
2   A003   Project 3  4500000.00  Finished
3   A004   Project 4  5500000.00   Ongoing
4   A005   Project 5  1744333.33  Finished
5   A002   Project 6   680000.00    Failed
6   A005   Project 7   400000.00  Finished
7   A003   Project 8   350000.00    Failed
8   A001   Project 9  1744333.33   Ongoing
9   A003  Project 10   300000.00  Finished
10  A001  Project 11  2000000.00    Failed
11  A004  Project 12  1000000.00   Ongoing
12  A004  Project 13  3000000.00  Finished
13  A005  Project 14   200000.00  Finished

In [7]:
#TASK 3
df1=pd.read_csv('Employee_Dataframe.csv')
# Split 'Name' column into two new columns
df1[['First Name', 'Last Name']] = df1['Name'].str.split(' ', 1, expand=True)

# Drop the original 'Name' column
df1.drop(columns=['Name'], inplace=True)

# Save the updated DataFrame to a new CSV file
df1.to_csv('employee_details_split.csv', index=False)


# Display updated DataFrame
print(df1)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [10]:
#TASK 4
#Load each CSV into a DataFrame
df_project = pd.read_csv('updated_Project_Dataframe.csv')
df_employee = pd.read_csv('employee_details_split.csv')
df_seniority = pd.read_csv('Seniority_level_Dataframe.csv')

#Merge all three DataFrames on the common column 'ID'
merged_df = df_project.merge(df_employee, on='ID') \
                      .merge(df_seniority, on='ID')

#Save the final merged DataFrame to a new CSV
merged_df.to_csv('Final.csv', index=False)

#Displays the result
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.00  Finished      M    Paris   25       John
1   A001   Project 9  1744333.33   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.00    Failed      M    Paris   25       John
3   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.00    Failed      F   London   27      Alice
5   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
11  A005   Project 5  1744333.33  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1       Alter                  2
2       Alter                  2
3   Luxumberg                  2
4   Luxumberg                  2
5   Sabestine                  3
6   Sabestine                  3
7   Sabestine                  3
8       Adgra                  2
9       Adgra                  2
10      Adgra                  2
11      Johny                  3
12      Johny                  3
13      Johny                  3

In [15]:
#TASK 5

import pandas as pd

# Load the data
df_bonus = pd.read_csv('Final.csv')

# Calculate Bonus (5% of Project Cost if Project is Finished)

df_bonus['Bonus'] = df_bonus.apply(
    lambda row: 0.05 * row['Cost'] if str(row.get('Status', '')) == 'Finished' else 0,
    axis=1
)

# Save the updated DataFrame
df_bonus.to_csv('merged_employee_with_bonus.csv', index=False)

# Display the updated DataFrame
print("Updated DataFrame with Bonus:")
print(df_bonus)

Updated DataFrame with Bonus:
      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.00  Finished      M    Paris   25       John
1   A001   Project 9  1744333.33   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.00    Failed      M    Paris   25       John
3   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.00    Failed      F   London   27      Alice
5   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
11  A005   Project 5  1744333.33  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level        Bonus
0       Alter                  2   50100.0000
1       Alter                  2       0.0000
2       Alter                  2       0.0000
3   Luxumberg                  2       0.0000
4   Luxumberg                  2       0.0000
5   Sabestine                  3  225000.0000
6   Sabestine                  3       0.0000
7   Sabestine                  3   15000.0000
8       Adgra                  2       0.0000
9       Adgra                  2       0.0000
10      Adgra                  2  150000.0000
11      Johny                  3   87216.6665
12      Johny                  3   20000.0000
13      Johny                  3   10000.0000

In [16]:
#TASK 6
import pandas as pd

# Load merged data from CSV
df = pd.read_csv('merged_employee_with_bonus.csv')

# Convert 'Seniority Level' to integer if it's not already
df['Designation Level'] = df['Designation Level'].astype(int)

# Demote seniority level by 1 where Project Status is 'fail'
df.loc[df['Status'].str.lower() == 'failed', 'Designation Level'] -= 1

# Remove employees with Seniority Level > 4
df = df[df['Designation Level'] <= 4]

# Save the updated DataFrame to a new CSV
df.to_csv('final_employee_data.csv', index=False)

print("Updated file saved as 'final_employee_data.csv'")

Updated file saved as 'final_employee_data.csv'

In [17]:
print(pd.read_csv('final_employee_data.csv'))

      ID     Project        Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.00  Finished      M    Paris   25       John
1   A001   Project 9  1744333.33   Ongoing      M    Paris   25       John
2   A001  Project 11  2000000.00    Failed      M    Paris   25       John
3   A002   Project 2  2000000.00   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.00    Failed      F   London   27      Alice
5   A003   Project 3  4500000.00  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.00    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.00  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.00   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.00   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.00  Finished      F  Newyork   31       Nina
11  A005   Project 5  1744333.33  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.00  Finished      F   Madrid   30        Amy
13  A005  Project 14   200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation Level        Bonus
0       Alter                  2   50100.0000
1       Alter                  2       0.0000
2       Alter                  1       0.0000
3   Luxumberg                  2       0.0000
4   Luxumberg                  1       0.0000
5   Sabestine                  3  225000.0000
6   Sabestine                  2       0.0000
7   Sabestine                  3   15000.0000
8       Adgra                  2       0.0000
9       Adgra                  2       0.0000
10      Adgra                  2  150000.0000
11      Johny                  3   87216.6665
12      Johny                  3   20000.0000
13      Johny                  3   10000.0000

In [18]:
#TASK 7

import pandas as pd

# Load the CSV
df = pd.read_csv('final_employee_data.csv')

# Add prefix to First Name based on Gender
df['First Name'] = df.apply(
    lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' 
    else 'Mrs. ' + row['First Name'], 
    axis=1
)

# Drop the Gender column
df.drop(columns=['Gender'], inplace=True)

# Save the updated DataFrame to a new CSV
df.to_csv('final_employee_data_with_titles.csv', index=False)

In [19]:
print(pd.read_csv('final_employee_data_with_titles.csv'))

      ID     Project        Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.00  Finished    Paris   25    Mr. John
1   A001   Project 9  1744333.33   Ongoing    Paris   25    Mr. John
2   A001  Project 11  2000000.00    Failed    Paris   25    Mr. John
3   A002   Project 2  2000000.00   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.00    Failed   London   27  Mrs. Alice
5   A003   Project 3  4500000.00  Finished   Berlin   29     Mr. Tom
6   A003   Project 8   350000.00    Failed   Berlin   29     Mr. Tom
7   A003  Project 10   300000.00  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5500000.00   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.00   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.00  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5  1744333.33  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7   400000.00  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14   200000.00  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level        Bonus
0       Alter                  2   50100.0000
1       Alter                  2       0.0000
2       Alter                  1       0.0000
3   Luxumberg                  2       0.0000
4   Luxumberg                  1       0.0000
5   Sabestine                  3  225000.0000
6   Sabestine                  2       0.0000
7   Sabestine                  3   15000.0000
8       Adgra                  2       0.0000
9       Adgra                  2       0.0000
10      Adgra                  2  150000.0000
11      Johny                  3   87216.6665
12      Johny                  3   20000.0000
13      Johny                  3   10000.0000

In [20]:
#TASK 8
import pandas as pd

# Load the CSV file
df = pd.read_csv('final_employee_data_with_titles.csv')

# Promote Seniority Level by 1 if Age > 29
df['Designation Level'] = df.apply(
    lambda row: row['Designation Level'] + 1 if row['Age'] > 29 else row['Designation Level'], axis=1
)

# Save the updated DataFrame to a new CSV file
df.to_csv('final_employee_data_promoted.csv', index=False)

print("Designation levels promoted for employees older than 29. Saved as 'final_employee_data_promoted.csv'")

Designation levels promoted for employees older than 29. Saved as 'final_employee_data_promoted.csv'

In [21]:
print(pd.read_csv('final_employee_data_promoted.csv'))

      ID     Project        Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.00  Finished    Paris   25    Mr. John
1   A001   Project 9  1744333.33   Ongoing    Paris   25    Mr. John
2   A001  Project 11  2000000.00    Failed    Paris   25    Mr. John
3   A002   Project 2  2000000.00   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.00    Failed   London   27  Mrs. Alice
5   A003   Project 3  4500000.00  Finished   Berlin   29     Mr. Tom
6   A003   Project 8   350000.00    Failed   Berlin   29     Mr. Tom
7   A003  Project 10   300000.00  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5500000.00   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.00   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.00  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5  1744333.33  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7   400000.00  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14   200000.00  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level        Bonus
0       Alter                  2   50100.0000
1       Alter                  2       0.0000
2       Alter                  1       0.0000
3   Luxumberg                  2       0.0000
4   Luxumberg                  1       0.0000
5   Sabestine                  3  225000.0000
6   Sabestine                  2       0.0000
7   Sabestine                  3   15000.0000
8       Adgra                  3       0.0000
9       Adgra                  3       0.0000
10      Adgra                  3  150000.0000
11      Johny                  4   87216.6665
12      Johny                  4   20000.0000
13      Johny                  4   10000.0000

In [22]:
#TASK 9

import pandas as pd

# Load your merged CSV
df = pd.read_csv('final_employee_data_promoted.csv')

# Group by 'ID' and 'First Name', then sum the 'Cost'
total_proj_cost = df.groupby(['ID', 'First Name'], as_index=False)['Cost'].sum()

# Rename the summed column to 'Total cost'
total_proj_cost.rename(columns={'Cost': 'Total cost'}, inplace=True)

# Save to a new CSV if needed
total_proj_cost.to_csv('TotalProjCost.csv', index=False)

print(total_proj_cost)

     ID  First Name  Total cost
0  A001    Mr. John  4746333.33
1  A002  Mrs. Alice  2680000.00
2  A003     Mr. Tom  5150000.00
3  A004   Mrs. Nina  9500000.00
4  A005    Mrs. Amy  2344333.33

In [23]:
#TASK 10

import pandas as pd

# Load the CSV file with employee details
df = pd.read_csv('final_employee_data_promoted.csv')

# Filter rows where 'City' column contains the letter 'o' (case-insensitive)
filtered_df = df[df['City'].str.contains('o', case=False, na=False)]

# Print the filtered DataFrame
print("Employees from cities containing the letter 'o':")
print(filtered_df)

Employees from cities containing the letter 'o':
      ID     Project       Cost    Status     City  Age  First Name  \
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level     Bonus
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
8       Adgra                  3       0.0
9       Adgra                  3       0.0
10      Adgra                  3  150000.0